<div class="navbar-mobile">
  <button (click)="openMenu()">
    <fa-icon iconName="bars" [style]="{'font-size': '2.4rem'}"></fa-icon>
  </button>
  <div class="expanded-menu" [ngClass]="{
    'mobile-menu-opened': toggleMenu,
    'mobile-menu-closed': !toggleMenu
  }">
    <button (click)="openMenu()">
      <fa-icon iconName="close" [style]="{'font-size': '2.4rem'}"></fa-icon>
    </button>
    <nav>
      <ul>
        <li [routerLink]="item.to" *ngFor="let item of menuItems" (click)="toggleMenu = false; scrollTop()">{{ item.text | uppercase }}</li>
      </ul>
    </nav>
  </div>
</div>

<!-- <img class="logo pointer" src="assets/images/logo-transoceanic.png" alt="Transoceanic Logo" routerLink="/"/> -->
<logo></logo>

<nav class="navbar-desktop">
  <ul>
    <li [routerLink]="item.to" *ngFor="let item of menuItems" (click)="scrollTop()">{{ item.text | uppercase }}</li>
  </ul>
</nav>
