<section class="what-we-do">
  <h3>Qué hacemos</h3>
  <p>Forjar un vínculo de trabajo con TMS le permitirá relacionarse con una red de expertos en logística y abastecimiento alrededor del mundo.</p>
  <p>Le ofrecemos tarifas y tiempos de tránsito competitivos junto con una cuidadosa planificación de entregas.</p>
  <p>El equipo de trabajo de TMS garantiza el suministro de la más diversa variedad de productos gracias a nuestra vasta red de proveedores.</p>
  <p>
    Una extensa trayectoria, en conjunto con el grupo de expertos adecuado, nos da el respaldo y conocimiento preciso para el aprovisionamiento de su empresa.
    Garantizando en forma eficiente y segura el transporte de su carga.
  </p>

  <article class="what-we-do__grid">
    <image-badge class="what-we-do__grid--item" imgSrc="assets/images/que-hacemos_alimentos.jpg" imgAlt="Distintos tipos de alimento" name="Alimentos"></image-badge>
    <image-badge class="what-we-do__grid--item" imgSrc="assets/images/que-hacemos_frutas_hortaliza_verduras.jpg" imgAlt="Frutas, Hortalizas y Verduras" name="Frutas y Verduras"></image-badge>
    <image-badge class="what-we-do__grid--item" imgSrc="assets/images/que-hacemos_carnes.jpg" imgAlt="Carne en una bandeja con condimentos" name="Carnes"></image-badge>
    <image-badge class="what-we-do__grid--item" imgSrc="assets/images/que-hacemos_bebidas.jpg" imgAlt="Bebidas" name="Bebidas"></image-badge>
    <image-badge class="what-we-do__grid--item" imgSrc="assets/images/que-hacemos_equipamiento-tecnico.jpg" imgAlt="Equipamiento técnico para un obrero y/o bombero" name="Equipamiento"></image-badge>
    <image-badge class="what-we-do__grid--item" imgSrc="assets/images/que-hacemos_electronica.jpg" imgAlt="Varios aparatos electrónicos" name="Electrónica"></image-badge>
    <image-badge class="what-we-do__grid--item" imgSrc="assets/images/que-hacemos_herramientas.jpg" imgAlt="Varias herramientas" name="Herramientas"></image-badge>
    <image-badge class="what-we-do__grid--item" imgSrc="assets/images/que-hacemos_bazar.jpg" imgAlt="Artículos de bazar" name="Bazar"></image-badge>
    <image-badge class="what-we-do__grid--item" imgSrc="assets/images/que-hacemos_combustible.jpg" imgAlt="Un camión que lleva combustible" name="Combustible"></image-badge>
    <image-badge class="what-we-do__grid--item" imgSrc="assets/images/que-hacemos_transporte.jpg" imgAlt="Un colectivo de larga distancia" name="Transporte"></image-badge>
  </article>

</section>

