@import "src/theme/variables";
@import "src/theme/animations";

.what-we-do {
  padding: $padding-large $padding-small $padding-medium $padding-small;

  @media (min-width: 768px) {
    padding: $padding-large $padding-small $padding-large $padding-small;
  }

  h3 {
    margin-bottom: $margin-large;
  }

  p {
    margin-bottom: $margin-small;
    line-height: $line-height-normal;
    &:nth-child(5) {
      margin-bottom: $margin-large;
    }

  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: $margin-small;
    justify-items: center;

    &--item {
      animation: fadeInUp $transition-short linear;

      @media (min-width: 768px) {
        animation: fadeInLeft $transition-short linear;
      }

      image-badge {
        margin: auto;
        margin: $margin-small 0;
      }
    }

    &--item:last-child {
      grid-column: 2 / 3;
    }

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: $margin-huge;

      &--item:nth-child(9) {
        grid-column: 2 / 3;
      }

      &--item:nth-child(10) {
        grid-column: 3 / 4;
      }
    }
  }
}
