/** COLORS **/
$color-primary: #0e003d;
$color-secondary: #a300d6;
$color-accent: #ffa500;
$color-success: #00c851;
$color-info: #33b5e5;
$color-warning: #ffbb33;
$color-danger: #ff4444;
$color-dark: #212121;
$color-light: #f5f5f5;

/** COLOR DE FONDO **/
$background-color-1: #F5F5F5;    // gris claro
$background-color-2: #FFF;        // blanco
$background-color-3: #0E003D;    // morado oscuro
$background-color-4: #33B5E5;    // azul
$background-color-5: #180067;    // amarillo
$background-color-6: #220092;    // verde claro
$background-color-7: #2B00BC;    // rojo
$background-color-8: #040012;  // morado

/** TYPOGRAPHY **/
$font-family-primary: 'Raleway', sans-serif;
$font-family-secondary: 'Cinzel', serif;


$font-size-default: 1.6rem;
$font-size-sm: 1.4rem;
$font-size-xs: 1.2rem;
$font-size-lg: 2rem;
$font-size-xl: 2.4rem;

$font-size-h1: 4.2rem;
$font-size-h1-mobile: 2.7rem;
$font-size-h2: 3.6rem;
$font-size-h2-mobile: 2.4rem;
$font-size-h3: 3rem;
$font-size-h3-mobile: 2.1rem;

$font-color-1: #333;         // negro
$font-color-2: #FFF;         // blanco
$font-color-3: #A300D6;      // morado
$font-color-4: #33B5E5;      // azul

$weight-normal: 500;
$weight-light: 300;
$weight-bold: 700;

$line-height-small: 1.05;
$line-height-normal: 1.1;
$line-height-big: 1.25;

/** SPACING **/
$margin-xs: 0.75rem;
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 3rem;
$margin-xl: 4rem;
$margin-xxl: 5rem;
$margin-huge: 6rem;

$padding-xs: 0.75rem;
$padding-small: 1rem;
$padding-medium: 2rem;
$padding-large: 3rem;
$padding-xl: 4rem;
$padding-xxl: 5rem;
$padding-huge: 6rem;

/** BORDER-RADIUS **/
$border-radius-default: 1.1rem;
$border-radius-small: 0.9rem;

/** TRANSITIONS **/
$transition-short: 0.2s;
$transition-medium: 0.5s;
$transition-long: 1s;
