@import "src/theme/variables";
@import "src/theme/animations.scss";

.contact-us {
  display: flex;
  flex-direction: column;
  max-width: 126.8rem;
  margin: auto;

  @media (min-width: 960px) {
    flex-direction: row;
    gap: $padding-large;
  }

  h2 {
    margin-bottom: $margin-medium;
  }


  h3 {
    font-size: $font-size-xl;
    margin-bottom: $margin-small;

    @media (min-width: 960px) {
      font-size: $font-size-h2;
    }
  }

  p {
    margin-bottom: $margin-medium;
  }

  .contact-form {
    padding: $padding-large $padding-small 0 $padding-small;
    margin: 0 auto $margin-medium auto;

    @media (min-width: 960px) {
      padding: $padding-large 0 0 $padding-small;
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: $padding-small;
      column-gap: $padding-small;

      .form-field {
        fa-input {
          width: 100%;
          margin-bottom: $margin-xs !important;
        }
      }

      .form-field:nth-child(5) {
        grid-column: 1 / -1;
      }

      .form-field:nth-child(6) {
        grid-column: 1 / -1;
        justify-self: center;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba($background-color-4, 0.2);
    padding: $padding-large $padding-large 0 $padding-large;
    gap: $padding-huge;
    position: relative;

    @media (min-width: 960px) {
      width: 50%;
      align-items: center;
    }

    .box {
      display: flex;
      justify-content: center;
      gap: $padding-medium;
      animation: fadeInUp $transition-medium ease-in-out;

      h3 {
        font-size: $font-size-lg;
        margin-bottom: $margin-small;

        @media (min-width: 960px) {
          font-size: $font-size-xl;
        }
      }

      .text-container {

        p, a, ul {
          font-size: $font-size-default;
          margin-bottom: $margin-small;
          line-height: $line-height-normal;
          list-style: none;

          @media (min-width: 960px) {
            font-size: $font-size-default;
          }
        }

        ul li {
          margin-left: $margin-small;
        }

        .bold {
          font-weight: $weight-bold;
        }

        @media (min-width: 960px) {
          flex-grow: 1;
        }
      }
    }

    .box:nth-child(2) {
      .icon-container {
        align-self: flex-start;
      }
    }
  }
}

.vertical-line {
  display: flex;
  flex-direction: column;

  .text-container:not(:last-child) {
    margin-bottom: $padding-small;
  }

  @media (min-width: 960px) {
    flex-grow: 1;
  }
}
