<section class="contact-us">
  <div class="contact-form">
    <h2>Contáctenos</h2>
    <p>Si necesita información o desea enviar una consulta, no dude en ponerse en contacto con nosotros.</p>

    <form [formGroup]="contactForm" (ngSubmit)="sendMail()" >
      <div class="form-field">
        <fa-input icon="user" [iconStyle]="{'font-size': '1.8rem'}">
          <input type="text" placeholder="Nombre y Apellido" autocomplete="false"
          formControlName="name"/>
        </fa-input>
        <span class="error" *ngIf="contactForm.get('name')?.hasError('required') && contactForm.get('name')?.touched">Este campo es requerido</span>
      </div>

      <div class="form-field">
        <fa-input icon="envelope" [iconStyle]="{'font-size': '1.8rem'}">
          <input type="email" placeholder="Email" autocomplete="false" formControlName="email"/>
        </fa-input>
        <span class="error" *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched">Este campo es requerido</span>
        <span class="error" *ngIf="contactForm.get('email')?.hasError('pattern') && contactForm.get('email')?.touched">Formato incorrecto</span>
      </div>

      <div class="form-field">
        <fa-input icon="phone" [iconStyle]="{'font-size': '1.8rem'}">
          <input type="tel" placeholder="Número de teléfono" autocomplete="false" formControlName="phone"/>
        </fa-input>
        <span class="error" *ngIf="contactForm.get('phone')?.hasError('required') && contactForm.get('phone')?.touched">Este campo es requerido</span>
      </div>

      <div class="form-field">
        <fa-input icon="paperclip" [iconStyle]="{'font-size': '1.8rem'}">
          <input type="text" placeholder="Asunto" autocomplete="false" formControlName="subject"/>
        </fa-input>
        <span class="error" *ngIf="contactForm.get('subject')?.hasError('required') && contactForm.get('subject')?.touched">Este campo es requerido</span>
      </div>

      <div class="form-field">
        <fa-input icon="pen-to-square" [iconStyle]="{'font-size': '1.8rem'}">
          <textarea placeholder="Mensaje" rows="15" autocomplete="false" formControlName="message"></textarea>
        </fa-input>
        <span class="error" *ngIf="contactForm.get('message')?.hasError('required') && contactForm.get('message')?.touched">Este campo es requerido</span>
      </div>

      <div class="form-field">
        <transoceanic-button type="submit" text="Enviar"></transoceanic-button>
      </div>
    </form>

  </div>
  <div class="info" #infoSection>

    <div class="box">
      <div class="icon-container">
        <fa-icon iconName="map-location" [style]="contactIconSize"></fa-icon>
      </div>
      <div class="text-container">
        <div class="text-container__title">
          <h3>Dirección</h3>
        </div>
        <div class="text-container__line">
          <p>5045 American Way</p>
          <p>Memphis, TN 38115, USA</p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="icon-container">
        <fa-icon iconName="phone" [style]="contactIconSize"></fa-icon>
      </div>
      <div class="vertical-line">
        <div class="text-container__title">
          <h3>Teléfonos</h3>
        </div>
        <div class="text-container">
          <div class="text-container__line">
            <p class="bold">América del Norte</p>
            <p>USA: +1 786-5437036</p>
          </div>
        </div>
        <div class="text-container">
          <div class="text-container__line">
            <p class="bold">Europa</p>
            <p>Madrid: +34 662-407689</p>
          </div>
        </div>
        <div class="text-container">
          <div class="text-container__line">
            <p class="bold">América del Sur</p>
            <p>Argentina: +54 223-6865892 </p>
            <p>Argentina: +54 223-6016789 </p>
            <p>Argentina: +54 11-59959760 </p>
          </div>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="icon-container">
        <fa-icon iconName="envelope" [style]="contactIconSize"></fa-icon>
      </div>
      <div class="text-container">
        <h3>Email</h3>
        <a href="mailto: info@transoceanicms.com">info@transoceanicms.com</a>
      </div>
    </div>
  </div>
</section>
