@import "src/theme/variables";

.main {
  padding: $padding-huge 0 0 0;
  h3 {
    margin: 0 auto $margin-medium auto;
    max-width: 1168px;
    padding: 0 $padding-medium;
    @media (min-width: 628px) {
      padding: 0 $padding-small;
    }
  }
}
