@import "src/theme/variables";

.main {
  padding: $padding-huge 0 0 0;
  h3 {
    margin: 0 auto $margin-medium auto;
    max-width: 116.8rem;
    padding: 0 $padding-medium;
    @media (min-width: 628px) {
      padding: 0 $padding-small;
    }
  }

  div.img-container {
    text-align: right;
    margin: auto;
    max-width: 116.8rem;
    padding: 0 $padding-small;
    img {
      width: 100%;
      @media (min-width: 628px) {
        margin-bottom: $margin-medium;
      }
    }
  }
}
