@import "src/theme/variables";

.main {
  padding: $padding-huge 0 0 0;
  h2 {
    text-align: center;
    color: $color-secondary;
    margin-bottom: $margin-large;

    @media (min-width: 768px) {
      margin-bottom: $margin-large;
    }
  }
}
