/* You can add global styles to this file, and also import other style files */

@import "./theme/variables";
@import "./theme/utilities.scss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: $line-height-small;
  font-weight: inherit;
  font-family: $font-family-primary;
  font-size: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-family-primary;
  font-weight: $weight-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color-1;
  color: $font-color-1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
li,
a {
  margin: 0;
}

h1 {
  font-size: $font-size-h1-mobile;
  line-height: $line-height-big;
  @media (min-width: 768px) {
    font-size: $font-size-h1;
  }
}

h2 {
  font-size: $font-size-h2-mobile;
  line-height: $line-height-big;
  @media (min-width: 768px) {
    font-size: $font-size-h2;
  }
}

h3 {
  font-size: $font-size-h3-mobile;
  line-height: $line-height-normal;
  @media (min-width: 768px) {
    font-size: $font-size-h3;
  }
}


/****************************************************************************************************************************************/
/*****************************************************************GRIDS******************************************************************/
/****************************************************************************************************************************************/
.about-us-grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 116.8rem;
  margin: auto;

  @media (min-width: 628px) {
    grid-template-columns: 1fr 1fr;
    gap: $padding-medium;

    &__item:nth-child(2) {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &__item:nth-child(3) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
  }


  &__item {
    padding: 0 $padding-medium;
    margin-bottom: $margin-medium;


    h3 {
      margin-bottom: $margin-small;
    }


    p {
      font-size: $font-size-sm;
      margin-bottom: $margin-small;
      line-height: $line-height-normal;
      @media (min-width: 628px) {
        font-size: $font-size-default;
      }
    }


    ul {
      list-style: none;
      @media (min-width: 628px) {
        font-size: $font-size-default;
      }


      li:not(:last-child) {
        margin-bottom: 0.3rem;
      }
    }


    img {
      width: 100%;
      text-align: center;
    }

    @media (min-width: 628px) {
      padding: 0 $padding-small;

    }
  }
}

/****************************************************************************************************************************************/
/**************************************************************END GRIDS*****************************************************************/
/****************************************************************************************************************************************/

