@import "src/theme/variables";

button {
  background-color: $color-primary;
  color: $color-light;
  padding: $padding-small $padding-large;
  border-radius: 5rem;
  cursor: pointer;
  transition: all $transition-short;
  font-size: $font-size-default;

  &:hover {
    background-color: $color-light;
    color: $color-primary;
    border: 2px solid $color-primary;
  }
}
